version: "3"

services:
  discuit:
    build: .
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      DISCUIT_ADDR: ":80"
      DISCUIT_SITE_NAME: "Discuit"
      DISCUIT_SESSION_COOKIE_NAME: "DSID"
      DISCUIT_REDIS_ADDRESS: "redis:6379"
      DISCUIT_FORUM_CREATION_REQ_POINTS: "10"
      DISCUIT_MAX_FORUMS_PER_USER: "10"
      DISCUIT_DB_ADDR: "db"
      DISCUIT_DB_USER: "discuit"
      DISCUIT_DB_PASSWORD: "discuit"
      DISCUIT_DB_NAME: "discuit"
    volumes:
      - discuit-db:/var/lib/mysql
      - discuit-redis:/var/lib/redis
      - discuit-images:/app/images
    depends_on:
      - db
      - redis

  db:
    image: mariadb:10.11.5
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: discuit
      MYSQL_USER: discuit
      MYSQL_PASSWORD: discuit
    volumes:
      - discuit-db:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:7.2.3-alpine
    restart: unless-stopped
    volumes:
      - discuit-redis:/data

volumes:
  discuit-db:
  discuit-redis:
  discuit-images:
